body{
    color: black;
    background-color: #EFEFEF;
}

.spacer {
    width: 100%;
    height: 10%;
    text-align: center;
}


h1 {
    font:normal 4em Roboto,Helvetica,Arial,sans-serif;
    color:#5a3696;
    text-align:center;
    margin:2%;
}

h3 {
    font:normal 3em Roboto,Helvetica,Arial,sans-serif;
    text-align:center;
    margin:2%;
}

h4 {
    font:normal 2em Roboto,Helvetica,Arial,sans-serif;
    text-align:center;
    margin:2%;
}

p {
    font:normal 1em Roboto,Helvetica,Arial,sans-serif;
    text-align:center;
    margin:2%;
}


#timerWrapper {
    text-align: center;
}

.timerBlock {
    display: inline-block;
}





.optionWrapper {
    text-align: center;
}


#actionOuterWrapper {
    text-align: center;
}

.actionInnerWrapper {
    display: inline-block;
    position: relative;
}

button {
    text-decoration: none;
    color: #fff;
    background-color: #5a3696;
    text-align: center;
    transition: .1s ease-out;
    cursor: pointer;
    
    display: inline-block;
    width: 40%;
    height: 15%;
    margin: 0.5%;
    
    /* border-radius: 10%; */
    border: 2px solid #5a3696; /* #b0b0b0; */
    
    font:normal 2em Roboto,Helvetica,Arial,sans-serif;
    
}

.optionButton:focus {
    /* background: gray; */
}


.actionButton {
    width:  100%;
}


/******************************************
*******************************************/

#id_confirmdiv
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 70%;
    min-height: 200px;
    height: 30%;
    left: 50%;
    top: 20%;
    margin-left: -35%;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
}
#id_confirmdiv button {
    background-color: #ccc;
    display: inline-block;
    float: left;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    /* width: 80px; */
    height: 50%;
    min-height: 80px;
    cursor: pointer;
    font:normal 1.5em Roboto,Helvetica,Arial,sans-serif;
}
#id_confirmdiv button:first-of-type {
    float: right;
}
#id_confirmdiv .button:hover {
    background-color: #ddd;
}
#confirmBox .message {
    text-align: left;
    margin-bottom: 8px;
}


input#netid {
    width:50%;
    height:70px;
    font: normal 30px sans-serif;
}

select#loc {
    width:50%;
    height:70px;
    font: normal 30px sans-serif;
    background: white;
}



/******************************************
*******************************************/



a.button:link, a.button:visited, a.button:hover, a.button:active{
    text-decoration: none;
    color: black;
}